.contacts {
  padding: 0 20px;
}

.contactsTitle {
  margin-bottom: 15px;
}

.contactsList {
  display: flex;
  flex-direction: column-reverse;

  list-style: lower-greek;
  padding: 15px;
}

.notification {
  text-align: center;

  text-transform: capitalize;
  color: tomato;
  padding: 15px;
}
