.wrapper {
  display: flex;
  justify-content: space-around;
}

.formsContainer {
  width: 400px;
  display: grid;
  place-items: center;

  padding: 10px 15px;
  border-radius: 5px;

  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.actionList {
  width: 100%;
}

.actionLink {
  text-decoration: none;
  color: white;
  font-size: 22px;

  padding: 10px 100px;
}

.actionListItem {
  background-color: darkcyan;
  display: flex;
  justify-content: center;

  border-radius: 5px;
}

.actionListItem:not(:last-child) {
  margin-bottom: 20px;
}
